.footer {
    background-color: var(--container-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.footer_container{
    padding: 2rem 0 1rem;
    margin-right: 968px;
    margin-left: 968px;

}

.footer_title,
.footer_link {
    color: var(--title-color);

}

.footer_title {
    font-size: 2.5rem;
    text-align:center ;
    margin-bottom: var(--mb-2);
}

.footer_link:hover {
    color: var(--title-color-dark);
}

.footer_list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.footer_social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
    color: #fff; /* Color del texto del botón */
  border: none; /* Sin bordes */
  border-radius: 0.2rem; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de fondo */

}

.footer_social-link{
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.25rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex
}

.footer_social-link:hover {
 color: inherit;
 text-decoration: none;
}

.footer_copy {
    display: block;
    margin-top: 2rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}